player-connection-mode=Listen
player-connection-guid=4253153680
player-connection-debug=0
player-connection-project-name=FunnyPoker
player-connection-ip=192.168.1.60
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f765ffc76a6f4bc68a22990c39569264
